<div class="skew-item" id="cta">
    <div class="container">
        <div class="row">
            <div class="intro">
                <div class="left col-xs-12 col-sm-4 col-sm-offset-1 col-md-offset-2 col-md-4">
                    <p>The intro contains a walkthrough guide, introductory literature
                        and a range of examples to experiment with Terraform.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 right">
                    <a class="outline-btn" href="/intro/index.html">Try Terraform &#187;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-skew" id="cta-bg"></div>
</div>
