<div class="feature skew-item" id="feature-iterate">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="it-icon f-icon clearfix">
                    <div class="t-block"></div>
                    <div class="t-block t2"></div>
                    <div class="t-block t3"></div>
                    <div class="t-block t4"></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h2 class="feature-t">Combine Multiple Providers</h2>
                <p>Terraform allows you to effortlessly combine high-level system
                    providers with your own or with each other. Launch a server from
                    one cloud provider, add a DNS entry with its IP with a different
                    provider. Built-in dependency resolution means
                    things happen in the right order.</p>
            </div>
        </div>
    </div>
    <div class="feature-skew" id="feature-iterate-bg"></div>
</div>
