<div class="feature skew-item" id="feature-clone">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2 class="feature-t">Evolve your Infrastructure</h2>
                <p>Your configuration and state can be stored in version control, shared
                    and distributed among your team. Updates, scaling and modifications
                    will be planned first, so you can iterate with confidence.</p>
            </div>
            <div class="col-md-push-1 col-lg-6 col-md-6 col-sm-12">
                <div class="clone-icon f-icon">
                    <div class="c-group clearfix">
                        <div class="c-col c1">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                        <div class="c-col c2">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                        <div class="c-col c3">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                    </div>

                    <div class="c-group cg2">
                        <div class="c-col c1">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                        <div class="c-col c2">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                        <div class="c-col c3">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                    </div>

                    <div class="c-group cg3 clearfix">
                        <div class="c-col c1">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                        <div class="c-col c2">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                        <div class="c-col c3">
                            <div class="c-block"></div>
                            <div class="c-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-skew" id="feature-clone-bg"></div>
</div>