<div class="feature skew-item" id="feature-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h2 class="feature-t">Infrastructure as code</h2>
                <p>Terraform provides a common configuration to launch infrastructure &mdash;
                    from physical and virtual servers to email and DNS providers. Once launched,
                    Terraform safely and efficiently changes infrastructure as the configuration
                    is evolved.</p>
                <p>Simple file based configuration gives you a single view
                    of your entire infrastructure.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h3 class="terminal-text">$ terraform apply</h3>
            </div>
        </div>
    </div>
    <div class="feature-skew" id="feature-auto-bg"></div>
</div>
