<div id="jumbotron-mask">
    <div id="jumbotron">
        <div class="jumbotron-content" id="jumbotron-content">
            <h2 class="tag-line" id="tag-line" style="visibility: hidden;">Build, Combine, and Launch Infrastructure</h2>
        </div>
    </div>
</div>
